<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Top Seguros Brasil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApplicationSeguros.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-
UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
        <div id="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg justify-content-between navbar-toggleable-sm border-bottom box-shadow ">
                   <a class="navbar-brand" style="width:200px;" href="#Home">
                       <img src="../img/Top Seguros Brasil.png" class="img-fluid"/>
                   </a>
                   <button
                       class="navbar-toggler"
                       type="button"
                       data-toggle="collapse"
                       data-target="#navbarNav"
                       arial-controls="navbarNav"
                       arial-expanded="false"
                       arial-label="Toggle navigation"
                   >
                      <span class="navbar-toggle-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse offset-5" id="navbarNav">
                      <ul class=" nav nav-pills " id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active botao-nav"asp-area="" asp-controller="Home" asp-action="Index">Planos</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link  botao-nav"asp-area="" asp-controller="Home" asp-action="Login">Entrar</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link botao-nav" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre nós</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link botao-nav" asp-area="" asp-controller="Home" asp-action="Atendimento">Atendimento</a>
                          </li>
                        </ul>
                   </div>
                </nav>
            </div>
        </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:#edf2f4">
        <div class="container-fluid py-3">
        <div class="row">
          <div class="col-8">
            <ul class="nav flex-column">
              <li> <p style="color:#001D3D; font-weight:400; margin-left:80px">Termos e condições de uso</p></li>
              <li> <p style="color:#001D3D; font-weight:400;margin-left:80px">Poitica de privacidade</p></li>
              <li> <p style="color:#001D3D; font-weight:400;margin-left:80px">Fale conosco</p></li>
            </ul>
          </div>
          <div class="col-3">
            <p style="color:#001D3D; font-weight:400;">
               Nossas redes sociais
            </p>
            <ul class="nav" style="color:#001D3D">
              <li style="margin-right:10px;" ><i class="fab fa-facebook fa-3x "></i></li>
              <li style="margin-right:10px;"><i class="fab fa-instagram fa-3x"></i></li>
              <li style="margin-right:10px;"><i class="fab fa-twitter fa-3x"></i></li>
              <li style="margin-right:10px;"><i class="fab fa-whatsapp fa-3x"></i></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="text-center" style="background-color: #5BB7F7; color:#ffffff;padding:15px;" >
          &copy 2022 Top Seguros Brasil
        </div> 
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 
