@{
    ViewData["Title"] = "Top Seguros Brasil";
}

<div>
    <div class="row">
        <div style="padding-top:100px;" class="container text-left col">
            <h1 class="h1">Seguro Auto com preço justo</h1>
            <h6 class="h6-home lead">Cobertura na medida</h6>
            <h6 class="h6-home lead" style="margin-bottom:20px;">Serviços de qualidade para o segurado</h6>
            @Html.ActionLink("Realizar cotação", "Formulario", "Home", null, new { @class = "btn btn-outline-primary" })
        </div>

        <div class="col">
            <img src="img/Logo-principal.png"  class="img-logo-home" alt="Imagem Responsiva">
        </div>
    </div>

    <div  style="width:27rem; margin-top:0px;"class="lista-home">
        <div class="alert text-center conteudo-home" role="alert"><img src="~/img/icone-verificado.png" class="icone-home" >
         Mais praticidade para o seu dia a dia!
        </div>

        <div class="alert text-center conteudo-home" role="alert"><img src="~/img/icone-verificado.png" class="icone-home" >
         De acordo com as suas necessidades
        </div>

        <div class="alert text-center conteudo-home" role="alert"><img src="~/img/icone-verificado.png" class="icone-home" >
         Pagamento em até 12x sem juros 
        </div>
    </div>
</div>
<!--Sessão Diferencial-->
<div class="primary-home">
    <h1 style="margin-top:200px;" class="text-center">Diferencial e essencial</h1>
    <h4 class="text-center lead">O que oferecemos</h4>

    <div style="margin-top:60px; margin-bottom:40px;" class="row">
      <div class="col"  style="border-radius:15px;">
        <div class="card" style="width:250px; heigth:250px; border-radius:15px;">
          <div class="card-body" style="border-radius:15px;">
            <img src="img/icone-smartphone.gif" alt="imagem de um smartphone" style="background:none; border:none; width:170px;margin-bottom:50px; margin-left:29px;" class="img-fluid img-thumbnail" />
            <h5 class="card-title text-center" style="margin-bottom:20px;">Seguro por assinatura</h5>
            <p class="card-text text-center">Você paga mensalmente no cartão de crédito ou com o PIX, igual ao seu aplicativo de filmes favorito.</p>
          </div>
        </div>
      </div>
      <div class="col" style="border-radius:15px;">
        <div class="card " style="width:250px; heigth:250px; border-radius:15px;">
          <div class="card-body" style="border-radios:15px solid;">
            <img src="img/icone-24horas.gif" alt="imagem simbolizanod 24 horas" style="background:none; border:none;width:170px; margin-bottom:50px; margin-left:28px;" class="img-fluid img-thumbnail" />
            <h5 class="card-title text-center" style="margin-bottom:20px;">Assistencia 24h</h5>
            <p class="card-text text-center">Assistência Dia e Noite com quilometragem de reboque ilimitada. Fale conosco quando precisar</p>
          </div>
        </div>
      </div>
      <div class="col"style="border-radius:15px;">
        <div class="card" style="width:250px; heigth:250px; border-radius:15px;">
          <div class="card-body" style="border-radius:15px;">
            <img src="img/icone-aperto-de-mao.gif" alt="imagem de aperto de mão" style="background:none; border:none;width:170px; margin-bottom:50px; margin-left:28px;" class="img-fluid " />
            <h5 class="card-title text-center" style="margin-bottom:20px;">Contratação facilitada</h5>
            <p class="card-text text-center">O processo é simples e, com as coberturas adicionais, você deixa tudo do seu jeito.</p>
          </div>
        </div>
      </div>
      <div class="col" style="border-radius:15px;">
        <div class="card" style="width:250px; heigth:250px; border-radius:15px;">
          <div class="card-body" style="border-radius:15px;">
            <img src="img/icone-escudo.gif"alt="Imagem de escudo" style="background:none; border:none;width:170px;margin-bottom:50px; margin-left:28px;" class="img-fluid img-thumbnail" />
            <h5 class="card-title text-center" style="margin-bottom:20px;">Segurança</h5>
            <p class="card-text text-center">O processo é simples e, com as coberturas adicionais, você deixa tudo do seu jeito.</p>
          </div>
        </div>
      </div>
     </div>
</div>

<!--Sessão planos-->

<div class="primary-home">
    <h1 style="margin-top:210px; margin-bottom:50px;" class="text-center">Conheça nossos planos</h1>
    <div class="row">
        <div class="col" style="margin-left:10px;">
            <div class="card  mb-3" style="height:400px; max-width: 21rem;background-color:#bde0fe;border-radius:16px;">
              <div class="card-header text-center" style="background-color:#3a86ff; font-weight:700; border-radius:16px 16px 0 0;">Seguro Auto Comfort</div>
              <div class="card-body text-dark text-center" style="font-size:19px;">
                <p style="margin-top:10px;">Incêndio</p>
                <p style="margin-top:10px;">Extensão de reboque</p>
                <p style="margin-top:10px;">Alagamentos</p>
                <p style="margin-top:10px;">Roubo / furto</p>
                <p style="margin-bottom:45px; margin-top:10px;">Manutenção & instalação</p>
               @Html.ActionLink("Simular agora", "Formulario", "Home", null, new { @class = "btn btn-primary" })
              </div>
            </div>
        </div>
        <div class="col" style="margin-left:0px; margin-right:10px;">
            <div class="card mb-3" style="height:450px;max-width: 21rem;background-color:#bde0fe; border-radius:16px;">
              <div class="card-header text-center" style="background-color:#3a86ff; font-weight:700;border-radius:16px 16px 0 0;">Seguro Auto Premium</div>
              <div class="card-body text-dark text-center" style="font-size:19px;">
                <p style="margin-top:10px;">Incêndio</p>
                <p style="margin-top:10px;">Extensão de reboque</p>
                <p style="margin-top:10px;">Alagamentos</p>
                <p style="margin-top:10px;">Roubo / furto</p>
                <p style="margin-top:10px;">Vandalismo</p>
                <p style="margin-bottom:45px; margin-top:10px;">Serviços 24h</p>
               @Html.ActionLink("Simular agora", "Formulario", "Home", null, new { @class = "btn btn-primary" })
              </div> 
            </div>
        </div>
        <div class="col" style="margin-right:0px;">
            <div class="card mb-3" style="height:600px;max-width: 21rem;background-color:#bde0fe;border-radius:16px;">
              <div class="card-header text-center" style="background-color:#3a86ff; font-weight:700;border-radius:16px 16px 0 0;">Seguro Auto Platinum</div>
              <div class="card-body text-dark text-center" style="font-size:19px;">
                <p style="margin-top:10px;">Incêndio</p>
                <p style="margin-top:10px;">Extensão de reboque</p>
                <p style="margin-top:10px;">Alagamentos</p>
                <p style="margin-top:10px;">Roubo / furto</p>
                <p style="margin-top:10px;">Manutenção & instalação</p>
                <p style="margin-top:10px;">Vandalismo</p>
                <p style="margin-top:10px;">Serviços 24h</p>
                <p style="margin-top:10px;">Perda total</p>
                <p style="margin-top:10px;">Carro reserva</p>
                <p style="margin-bottom:40px; margin-top:10px;">Danos eletricos</p>
               @Html.ActionLink("Simular agora", "Formulario", "Home", null, new { @class = "btn btn-primary" })
              </div>
            </div>
        </div>
    </div>
</div>


<!--Sessão perguntas frequentes-->

<h1 style="margin-top:210px; margin-bottom:px;" class="text-center">Ainda tem duvidas ?</h1>
<h4 class="text-center lead " style="margin-bottom:50px;">Perguntas frequentes</h4>
<div class="accordion" id="accordionExample">
      <div class="accordion-item" >
        <h2 class="accordion-header" id="headingOne" >
          <button class="accordion-button alert alert-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item" >
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed alert alert-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Accordion Item #2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed alert alert-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" >
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>

