@{
    ViewData["Title"] = "Top Seguros Brasil";
}

<div>
    <div class="row">
        <div style="padding-top:50px;" class="container text-left col">
            <h1 class="h1-home">Seguro Auto com preço justo</h1>
            <h6 class="h6-home lead">Cobertura na medida</h6>
            <h6 class="h6-home lead">Serviços de qualidade para o segurado</h6>
            @Html.ActionLink("Realizar cotação", "Formulario", "Home", null, new { @class = "btn btn-outline-primary" })
        </div>

        <div class="col">
            <img style=" " src="img/Logo-principal.png" class="img-logo-home" alt="Imagem Responsiva">
        </div>
    </div>

    <div  style="width:27rem;"class="lista-home">
        <div class="alert text-center conteudo-home" role="alert"><img src="~/img/verifica.png" class="icone-home" >
         Mais praticidade para o seu dia a dia!
        </div>

        <div class="alert text-center conteudo-home" role="alert"><img src="~/img/verifica.png" class="icone-home" >
         De acordo com as suas necessidades
        </div>

        <div class="alert text-center conteudo-home" role="alert"><img src="~/img/verifica.png" class="icone-home" >
         Pagamento em até 12x sem juros
        </div>

    </div>
</div>
<div class="segundary-home">
    <h1 style="margin-top:210px;" class="text-center">Diferencial e essencial</h1>
    <h4 class="text-center lead">O que oferecemos</h4>

    <div style="margin-top:40px; margin-bottom:40px;" class="row">
      <div class="col">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <img src="img/smartphone.gif" style="background:none; border:none; width:150px;" class="img-fluid img-thumbnail" />
            <h5 class="card-title text-center">Seguro por assinatura</h5>
            <p class="card-text text-center">Você paga mensalmente no cartão de crédito ou com o PIX, igual ao seu aplicativo de filmes favorito.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <img src="img/24-horas.gif" style="background:none; border:none;width:150px;" class="img-fluid img-thumbnail" />
            <h5 class="card-title text-center">Assistencia 24h</h5>
            <p class="card-text text-center">Assistência Dia e Noite com quilometragem de reboque ilimitada.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <img src="img/aperto-de-mao.gif" style="background:none; border:none;width:150px; " class="img-fluid " />
            <h5 class="card-title text-center">Contratação facilitada</h5>
            <p class="card-text text-center">O processo é simples e, com as coberturas adicionais, você deixa tudo do seu jeito.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <img src="img/escudo.gif" style="background:none; border:none;width:150px;" class="img-fluid img-thumbnail" />
            <h5 class="card-title text-center">Segurança</h5>
            <p class="card-text text-center">O processo é simples e, com as coberturas adicionais, você deixa tudo do seu jeito.</p>
          </div>
        </div>
      </div>
     </div>
</div>
    <hr>
    <div>
        <h1 style="margin-top:50px;"class="text-center">Coberturas</h1>
        <h5 class="text-center lead">Monte o seguro do seu jeito</h5>
        <br>
        <br>
        <div style="width: 50rem; margin-left:250px; ">
            <div class="accordion" id="accordionExample">
              <div class="card ">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0 b-3">
                    <button class="justify-content-center m-2 btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Extenção de reboque
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non alemanha 0 x 2 coreia do sul cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="m-2  btn btn-outline-primary " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Roubo ou furto
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="m-2 btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Incêndio
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="m-2 btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Alagamento
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="m-2 btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Manutenção
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="m-2 btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Atendimento 24h
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

