@{
    ViewData["Title"] = "Entrar";
}

<div class="primary-home">
    <h1 style="margin-top:200px;" class="text-center">Acessar conta</h1>
    <h5 class="text-center lead">Para realizar o seu acesso,  preencha o seus dados.</h5>

    <div style="margin-top:40px; margin-bottom:40px;" class="row">
      <form>
          <div class="form-floating col mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Endereço de e-mail</label>
          </div>
          <div class="form-floating col">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Senha</label>
                <small id="passwordHelpBlock" class="form-text text-muted"> 
                    Sua senha deve ter entre 8 e 20 caracteres, os quais devem ser letras e números, sem espaços, caracteres especiais ou emojis.
                </small>
          </div>  
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
          </div>

          @Html.ActionLink("Entrar", "Dashboard", "Home", null, new { @class = "btn btn-primary" })
      </form>

      <div>
          <h5>Não é cadastrado ?</h5>
         @Html.ActionLink("Cadastre-se", "Autenticador", "Home", null, new { @class = "btn btn-primary" })
      </div>

    </div>
</div>

