@{
    ViewData["Title"] = "Entrar";
}

<div class="primary-home">
    <h1 style="margin-top:100px;" class="text-center">Acessar conta</h1>
    <h5 class="text-center lead">Para realizar o seu acesso,  preencha os seus dados.</h5>

    <div style="margin-top:37px; margin-bottom:40px;" class="row">
      <form>
      <div class="form-floating col-sm-4 offset-4 mb-4">
          <div class="form-floating col mb-3">
             <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
             <label for="floatingInput">Endereço de e-mail</label>
          </div>
          </div>
          <div class="form-floating col-sm-4 offset-4 mb-4">
          <div class="form-floating col">
             <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
             <label for="floatingPassword">Senha</label>
          </div>  
          </div>
          <div class="form-floating col-sm-4 offset-4 mb-4">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
            <a href="#" style="float: right; font-size: 15px;">
              esqueceu a senha?
            </a>
          </div>
          </div>
      </form>
      <div class="form-floating col-sm-4 offset-4 mb-4"style="text-align:center;">
        @Html.ActionLink("Entrar", "Dashboard", "Home", null, new { @class = "btn btn-primary" })
      </div>
      <div class="form-floating col-sm-4 offset-4 mb-4"style="text-align:center;">
         <h5 style= "font-size: 17px;"> Não é cadastrado ?</h5 style>
         @Html.ActionLink("Cadastre-se", "Formulario", "Home", null, new { @class = "btn btn-primary" })
      </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>