@{
    ViewData["Title"] = "Entrar";
}



<div style="width:750px;" class="text-center" >
    <h3 class="display-4">Acessar conta</h3>
    <br>
    
          <h5>Para realizar o seu acesso,  preencha o seus dados.</h5>
      <form>
          <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Endereço de e-mail</label>
          </div>
          <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha</label>
                <small id="passwordHelpBlock" class="form-text text-muted"> 
                    Sua senha deve ter entre 8 e 20 caracteres, os quais devem ser letras e números, sem espaços, caracteres especiais ou emojis.
                </small>
          </div>  
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
          </div>
          @Html.ActionLink("Entrar", "Dashboard", "Home", null, new { @class = "btn btn-primary" })
      </form>

   
     
      <div>
          <h5>Não é cadastrado ?</h5>
         @Html.ActionLink("Cadastre-se", "Formulario", "Home", null, new { @class = "btn btn-primary" })
      </div>

</div>
