@{
    ViewData["Title"] = "Sobre nós";
}

<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">


<div style="margin-top:40px; margin-bottom:40px;">
    <h1 class="text-center">Sobre a Top Seguros Brasil <span class="badge badge-secondary">Novo</span></h1>

    <h5 style="margin-top:40px;" class="text-center"> Um pouco sobre nossa história</h5>

    <p style="margin-top:40px;">A Top Seguros Brasil é um ecossistema que oferece diversos serviços de seguro com proteção à pessoa física. 
        O ecossistema opera através de cinco modalidades estratégicas de seguros: automóvel, carga, residência, 
        previdência e vida. Em 2021 a empresa atravessou uma grande reestruturação em sua regra de negócio e passou 
        a contar com novas ofertas de coberturas e maior flexibilidade de contratação como, por exemplo, assistência 24h,
        planos diferenciados, pagamentos parcelados, diversas parcerias, além de maior personalização do seguro contratado.
    </p>

    <p style="margin-top:40px;">As operações da Top Seguros Brasil começaram em São Paulo em 2017, em seguida expandimos para a região do Estado do Rio de Janeiro 
        e hoje cobrimos 19 estados mais o Distrito Federal. A proteção oferecidada era básica: roubo/furto + assistência 24h com guincho, 
        com pagamento mensal e tudo sem carência ou fidelidade.
    </p>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>